@inherits InputSelect<TValue>

@using System.Linq.Expressions
@typeparam TValue

<div style="margin: 5px; display: flex; justify-content: space-between; align-items: baseline">
    <h6 style="width: 150px">@Label</h6>
    <div style="width: 100%">
        <select @bind=@Value
                @bind:event="oninput"
                @attributes="AdditionalAttributes"
                class="form-control"
                disabled="@(!IsEnabled)">
            <option value="null" selected="selected" disabled="disabled">@DefaultOption</option>
            @if (Data != null && Data.Any())
            {
                @foreach (var item in Data)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            }
        </select>
        @if (MessageFor != null)
        {
            <ValidationMessage For="@MessageFor"/>
        }
    </div>
</div>
<br />

@code {
    [Parameter]
    public string Label { get; set; }
    
    [Parameter]
    public string DefaultOption { get; set; }

    [Parameter]
    public Dictionary<TValue, string>? Data { get; set; }

    [Parameter]
    public bool IsEnabled { get; set; } = true;
    
    [Parameter]
    public Expression<Func<TValue>>? MessageFor { get; set; }
}