@page "/tax-profile/create"

@using TaxCalculator.WebFrontend.Validation
@using TaxCalculator.Domain.Services.Identifier
@using TaxCalculator.WebFrontend.Models
@using TaxCalculator.WebFrontend.Shared.FormInputs
@using TaxCalculator.Cqrs.Contracts.Bus
@using TaxCalculator.WebFrontend.Pages.TaxProfiles.Commands
@using TaxCalculator.Cqrs.Contracts
@using TaxCalculator.Contracts

@inject ICommandBus _commandBus;
@inject NavigationManager _navigationManager;
@inject IIdentifierService _identifierService;
@inject IMapper _mapper;

<PageTitle>Create Tax Profile</PageTitle>

@if (!IsInitialized)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <div>
            <h3>Create new profile</h3>
        </div>
        <br />
        <div>
            <EditForm EditContext="@EditContext" OnSubmit="@HandleSubmitAsync">
                <Validator TModel="TaxProfileModel" OnValidated="@(() => this.StateHasChanged())" />
            
                <TextInput Label="Name"
                           @bind-Value="TaxProfileModel.Name"
                           MessageFor="@(() => TaxProfileModel.Name)"/>

                <TextAreaInput Label="Description"
                               @bind-Value="TaxProfileModel.Description"
                               MessageFor="@(() => TaxProfileModel.Description)"/>

                <SelectInput Label="Profile currency"
                             DefaultOption="Select currency"
                             Data="Currencies"
                             @bind-Value="TaxProfileModel.ProfileCurrencyId"/>
                
                <ButtonSubmit IsEnabled="@(CanExecute && IsValid)" />
            </EditForm>
        </div>
    </div>
}

@code {
    private TaxProfileModel? TaxProfileModel { get; } = new();
    
    private EditContext EditContext { get; set; }

    private Dictionary<Guid?, string>? Currencies { get; set; }

    private bool IsInitialized { get; set; }

    private bool IsValid => !EditContext.GetValidationMessages().Any();

    private bool CanExecute => TaxProfileModel?.ProfileCurrencyId.HasValue ?? false;

    protected override void OnInitialized()
    {
        Currencies = _identifierService.Currencies.IdentifierValues.ToDictionary(x => (Guid?)x.Key, x => x.Value);
        EditContext = new EditContext(TaxProfileModel);

        IsInitialized = true;
    }
    
    private async Task HandleSubmitAsync()
    {
        var command = _mapper.Map<CreateTaxProfileCommand>(TaxProfileModel);
        
        var result = await _commandBus.DispatchAsync(command);
        
        if (result.Status == CommandStatus.Success)
        {
            _navigationManager.NavigateTo($"tax-profile/details/{result.RecordId}");
        }
    }
}