@page "/tax-profile/create"

@using TaxCalculator.WebFrontend.Data
@using TaxCalculator.WebFrontend.Validation
@using TaxCalculator.Domain.Services.Identifier
@using TaxCalculator.WebFrontend.Models
@using TaxCalculator.WebFrontend.Shared.FormInputs

@inject WebApi _webApi;
@inject NavigationManager _navigationManager;
@inject IIdentifierService _identifierService;

<PageTitle>Create Tax Profile</PageTitle>

@if (!IsInitialized)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <div>
            <h3>Create new profile</h3>
        </div>
        <br />
        <div>
            <EditForm EditContext="@EditContext" OnSubmit="@HandleSubmitAsync">
                <Validator TModel="CreateTaxProfileModel" OnValidated="@(() => this.StateHasChanged())" />
            
                <TextInput Label="Name"
                           @bind-Value="CreateTaxProfileModel.Name"
                           MessageFor="@(() => CreateTaxProfileModel.Name)"/>

                <TextAreaInput Label="Description"
                               @bind-Value="CreateTaxProfileModel.Description"
                               MessageFor="@(() => CreateTaxProfileModel.Description)"/>

                <SelectInput Label="Profile currency"
                             DefaultOption="Select currency"
                             Data="Currencies"
                             @bind-Value="CreateTaxProfileModel.ProfileCurrencyId"/>
                
                <ButtonSubmit IsEnabled="@(CanExecute && IsValid)" />
            </EditForm>
        </div>
    </div>
}

@code {
    private CreateTaxProfileModel CreateTaxProfileModel { get; } = new();
    
    private EditContext EditContext { get; set; }

    private Dictionary<string, string>? Currencies { get; set; }

    private bool IsInitialized { get; set; }

    private bool IsValid => !EditContext.GetValidationMessages().Any();

    private bool CanExecute => !string.IsNullOrEmpty(CreateTaxProfileModel.ProfileCurrencyId);

    protected override void OnInitialized()
    {
        Currencies = _identifierService.Currencies.ToDictionary().ToDictionary(x => x.Key.ToString(), x => x.Value);
        EditContext = new EditContext(CreateTaxProfileModel);

        IsInitialized = true;
    }
    
    private async Task HandleSubmitAsync()
    {
        var result = await _webApi.Create(CreateTaxProfileModel, "TaxProfile");
        if (result.RecordId != null)
        {
            _navigationManager.NavigateTo($"tax-profile/details/{result.RecordId}");
        }
    }
}