@page "/tax-profile/details/{ProfileId}"

@using TaxCalculator.Domain.Entities
@using TaxCalculator.Domain.Services.Identifier
@using TaxCalculator.WebFrontend.Models
@using TaxCalculator.WebFrontend.Pages.Taxes
@using TaxCalculator.WebFrontend.Shared.FormInputs
@using TaxCalculator.WebFrontend.Validation
@using TaxCalculator.Cqrs.Contracts.Bus
@using TaxCalculator.WebFrontend.Pages.TaxProfiles.Commands
@using TaxCalculator.Cqrs.Contracts
@using TaxCalculator.WebFrontend.Pages.TaxProfiles.Queries

@inject ICommandBus _commandBus;
@inject IQueryBus _queryBus;
@inject NavigationManager _navigationManager;
@inject IIdentifierService _identifierService;
@inject IJSRuntime _jsRuntime;

<PageTitle>Tax Profile Details</PageTitle>

@if (!IsLoaded)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h3>View profile details</h3>
            <div style="box-sizing: border-box;">
                <NavLink href="@("manage-incomes/" + ProfileId)" class="btn btn-primary">Manage incomes</NavLink>
                <NavLink href="@("/manage-additional-spends/" + ProfileId)" class="btn btn-primary">Manage additional spends</NavLink>
            </div>
        </div>
        <br/>
        <div>
            <div>
                <EditForm EditContext="@EditContext" OnSubmit="@HandleProfileUpdate">
                    <Validator TModel="UpdateTaxProfileModel" OnValidated="@(() => this.StateHasChanged())"/>
                    
                    <TextInput Label="Name" 
                               MessageFor="@(() => UpdateTaxProfileModel.Name)"
                               @bind-Value="UpdateTaxProfileModel.Name" />

                    <TextAreaInput Label="Description"
                                   MessageFor="@(() => UpdateTaxProfileModel.Description)"
                                   @bind-Value="UpdateTaxProfileModel.Description" />

                    <SelectInput Label="Profile currency" 
                                 DefaultOption="Select currency"
                                 Data="Currencies"
                                 @bind-Value="CurrencyId"
                                 IsEnabled="false"/>

                    <ButtonSubmit IsEnabled="@IsValid"/>
                </EditForm>
            </div>
            <TaxGrid ProfileId="@ProfileId" />
        </div>
    </div>
}

@code {
    [Parameter]
    public string ProfileId { get; set; }
    
    private UpdateTaxProfileModel UpdateTaxProfileModel { get; set; } = new();
    
    private Dictionary<Guid, string>? Currencies { get; set; } = new();
    
    private Guid CurrencyId { get; set; }
    
    private bool IsLoaded { get; set; }

    private bool IsValid => !EditContext.GetValidationMessages().Any();
    
    private EditContext EditContext { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var profile = await _queryBus.ExecuteAsync<GetTaxProfileByIdQuery, TaxProfileModel?>(new GetTaxProfileByIdQuery
        {
            TaxProfileId = Guid.Parse(ProfileId)
        });

        if (profile != null)
        {
            UpdateTaxProfileModel.Name = profile.Name;
            UpdateTaxProfileModel.Description = profile.Description;
            UpdateTaxProfileModel.TaxProfileId = ProfileId;
            
            Currencies = _identifierService.Currencies.ToDictionary();
            CurrencyId = profile.ProfileCurrencyId.Value;
        }

        EditContext = new EditContext(UpdateTaxProfileModel);
        IsLoaded = true;
    }

    private async Task HandleProfileUpdate()
    {
        var result = await _commandBus.DispatchAsync(new UpdateTaxProfileCommand
        {
            Description = UpdateTaxProfileModel.Description,
            Name = UpdateTaxProfileModel.Name,
            TaxProfileId = Guid.Parse(UpdateTaxProfileModel.TaxProfileId)
        });
        
        if (result.Status == CommandStatus.Success)
        {
            await _jsRuntime.InvokeVoidAsync("alert", "Profile updated");
        }
    }
}